Repository phronesislabs/brain-radio: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, hadolint, trivy-docker-config, pinact-check, zizmor-check

Path conditions:
  actionlint: any of: \.github/workflows/.*\.ya?ml$
  hadolint: any of: Dockerfile.*
  trivy-docker-config: any of: docker-compose.*\.ya?ml$
  pinact-check: any of: \.github/workflows/.*\.ya?ml$
  zizmor-check: any of: \.github/workflows/.*\.ya?ml$

Add environment variable to docker-compose files for test services
  docker-compose.dev.yml
  docker-compose.yml
Due: trivy-docker-config

Add distraction score calculation for Focus mode in ResearcherAgent, update quality gate script for coverage report paths, and include new dependency in pyproject.toml
  pyproject.toml
  scripts/quality-gate.sh
  src/brain_radio/agents/researcher.py
  tests/test_api.py
  tests/test_api_main_module.py
  tests/test_cli.py
  tests/test_cli_direct.py
  tests/test_cli_execution.py
  tests/test_neuro_composer.py
  tests/test_neuro_composer_unknown_mode.py
  tests/test_researcher.py
  tests/test_supervisor.py
  tests/test_supervisor_errors.py
Due: none

fix: resolve Renovate cache directory permissions
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

fix: Renovate cache issues
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

fix: use official Renovate GitHub Action with SHA pinning
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

chore: update GitHub Actions dependencies for CI and Renovate workflows
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

fix: set Renovate cache directory to runner temp directory
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

fix: improve workflow polling logic to properly detect completion
  scripts/run-renovate.sh
Due: none

fix: correct polling logic syntax and optimize to single API call
  scripts/run-renovate.sh
Due: none

fix: update log retrieval command in run-renovate script to ensure proper output
  scripts/run-renovate.sh
Due: none

fix: correct log viewing command and script polling logic
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

fix: configure docker-volumes for Renovate cache directory
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check

fix: configure cacheDir in renovate.json
  renovate.json
Due: none

fix: create cache directory before running Renovate
  .github/workflows/renovate.yml
Due: actionlint, pinact-check, zizmor-check
